<H1>Addition</h1>
<dl>
<dt>first number</dt>
<dd><%= @num1 %></dd>

<dt>second number</dt>
<dd><%= @num2 %></dd>

<dt>Result</dt>
<dd><%= @result %></dd>

</dl>

<a href="/add">Do another addition </a>