

<h1> New subtraction </h1>
<form action="/wizard_subtract">
<label for="num1"> Subtract this: </label>
<input id="num1" name="first_num">
<label for="num2"> from this: </label>
<input id="num2" name="second_num">  
<button> Subtract! </button>

</form>