subtruct form

<form action="/wizard_subtract">
<div><label for="Shalev4"> APR </label>
<input id="Shalev4" type="text" placeholder= "E.g. 5.42" name="user_apr"></div>
<div><label for="Shalev5"> Number of years </label>
<input id="Shalev5" type="text" placeholder= "How many years to repay?" name="user_years"></div>
<div><label for="Shalev6"> Principal </label>
<input id="Shalev6" type="text" placeholder= "How much principal?" name="user_pv"></div>
<div><button> Calculate monthly payment </button></div>
</form>